.hero {
  &__wrap{
    margin-top: 32px;
    padding: 378px 0;
    background: url("../img/hero-fon.png") no-repeat center;
    background-size: cover;
    border-radius: 30px;
  }
  &__title{
    margin: 0 auto;
    max-width: 1033px;
  }
}

@media all and (max-width: 768px) {
  .hero {
    &__wrap{
      margin-top: 16px;
      padding: 255px 0;
      background: url("../img/hero-fon.png") no-repeat center;
      background-size: cover;
      border-radius: 30px;
    }
    &__title{
      margin: 0 auto;
      padding: 0 18px;
      max-width: 1033px;
    }
  }
}


