<section class="callback">
  <div class="container">
    <div class="callback__wrap">
      <div class="callback__head">
        <h2 class="callback__title">Contact us</h2>
        <p class="callback__subtitle">
          Please leave us a request and our manager will contact you soon!
        </p>
      </div>
      <form class="form callback__form">
        <div class="form__row">
          <label class="form__label">
            <input
              type="text"
              name="Название компании"
              class="input-reset form__input"
              placeholder="Company name"
            />
          </label>
          <label class="form__label">
            <input
              type="text"
              name="Имя"
              class="input-reset form__input"
              placeholder="Your name"
            />
          </label>
        </div>
        <div class="form__row">
          <label class="form__label">
            <input
              type="email"
              name="E-mail"
              class="input-reset form__input"
              placeholder="hardlux@gmail.com"
            />
          </label>
          <label class="form__label">
            <input
              type="tel"
              name="Телефон"
              class="input-reset form__input"
              placeholder="+ 7 (xxx) xxx-xx-xx"
            />
          </label>
        </div>
        <label class="form__label">
          <textarea
            name="Комментарии"
            placeholder="Comment"
            class="form__textarea input-reset"
          ></textarea>
        </label>

        <button class="form__btn btn-reset">Send request</button>
      </form>
    </div>
  </div>
</section>
