<section class="country">
  <div class="container">
    <div class="country__wrap">
      <h2 class="country__title">Countries</h2>
      <ul class="country__content">
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/country1.png"
              class="image"
              alt="image"
              width="320"
              height="320"
            />
          </picture>
          <span class="country__item-text">Maldives</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/country2.png"
              class="image"
              alt="image"
              width="320"
              height="320"
            />
          </picture>
          <span class="country__item-text">UAE</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/country3.png"
              class="image"
              alt="image"
              width="320"
              height="320"
            />
          </picture>
          <span class="country__item-text">France</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/country4.png"
              class="image"
              alt="image"
              width="320"
              height="320"
            />
          </picture>
          <span class="country__item-text">Seychelles</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/country5.png"
              class="image"
              alt="image"
              width="320"
              height="320"
            />
          </picture>
          <span class="country__item-text">Italy</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/country6.png"
              class="image"
              alt="image"
              width="320"
              height="320"
            />
          </picture>
          <span class="country__item-text">Oman</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country7.webp" type="img/webp" />
            <img src="img/country7.png" alt="img" width="320" height="320" />
          </picture>
          <span class="country__item-text">Mauritius</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country8.webp" type="img/webp" />
            <img src="img/country8.png" alt="img" width="320" height="320" />
          </picture>
          <span class="country__item-text">Turkey</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country9.webp" type="img/webp" />
            <img src="img/country9.png" alt="img" width="320" height="320" />
          </picture>
          <span class="country__item-text">Indonesia</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country10.webp" type="img/webp" />
            <img src="img/country10.png" alt="img" width="320" height="320" />
          </picture>
          <span class="country__item-text">Greece</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country11.webp" type="img/webp" />
            <img src="img/country11.png" alt="img" width="320" height="320" />
          </picture>
          <span class="country__item-text">And <span>many</span> others</span>
        </li>
      </ul>
    </div>
  </div>
</section>
