<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name="format-detection" content="telephone=no">
  <title>Hard Lux</title>
  <link rel="preload" href="fonts/Onest-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Onest-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Onest-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Oswald-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Oswald-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=e6d5205f-6fbb-480f-826e-ffdf5d4e260b&lang=ru_RU" type="text/javascript">
  </script>
  <script defer src="js/main.js"></script>
</head>
