<section class="country">
  <div class="container">
    <div class="country__wrap">
      <h2 class="country__title">Страны</h2>
      <ul class="country__content">
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country1.webp" type="image/webp">
            <img loading="lazy" src="img/country1.png" class="image" alt="image" width="320" height="320">
          </picture>
          <span class="country__item-text">Мальдивы</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country2.webp" type="image/webp">
            <img loading="lazy" src="img/country2.png" class="image" alt="image" width="320" height="320">
          </picture>
          <span class="country__item-text">Эмираты</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country3.webp" type="image/webp">
            <img loading="lazy" src="img/country3.png" class="image" alt="image" width="320" height="320">
          </picture>
          <span class="country__item-text">Франция</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country4.webp" type="image/webp">
            <img loading="lazy" src="img/country4.png" class="image" alt="image" width="320" height="320">
          </picture>
          <span class="country__item-text">Сейшелы</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country5.webp" type="image/webp">
            <img loading="lazy" src="img/country5.png" class="image" alt="image" width="320" height="320">
          </picture>
          <span class="country__item-text">Италия</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source srcset="img/country6.webp" type="image/webp">
            <img loading="lazy" src="img/country6.png" class="image" alt="image" width="320" height="320">
          </picture>
          <span class="country__item-text">Оман</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country7.webp" type="img/webp">
            <img src="img/country7.png" alt="img" width="320" height="320">
          </picture>
          <span class="country__item-text">Маврикий</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country8.webp" type="img/webp">
            <img src="img/country8.png" alt="img" width="320" height="320">
          </picture>
          <span class="country__item-text">Турция</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country9.webp" type="img/webp">
            <img src="img/country9.png" alt="img" width="320" height="320">
          </picture>
          <span class="country__item-text">Индонезия</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country10.webp" type="img/webp">
            <img src="img/country10.png" alt="img" width="320" height="320">
          </picture>
          <span class="country__item-text">Греция</span>
        </li>
        <li class="country__item">
          <picture class="country__img">
            <source src="img/country11.webp" type="img/webp">
            <img src="img/country11.png" alt="img" width="320" height="320">
          </picture>
          <span class="country__item-text">И многие другие</span>
        </li>
      </ul>
    </div>
  </div>
</section>
