<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__column">
        <h3 class="footer__column-title">Реквизиты</h3>
        <div class="footer__column-wrap">
          <ul class="footer__column-list">
            <li class="footer__column-item">Платежные реквизиты KICB</li>
            <li class="footer__column-item">USD</li>
            <li class="footer__column-item"><span class="footer__column-text">Beneficiary name: </span>LLC Hard Lux/ОсОО
              Хард Люкс
            </li>
            <li class="footer__column-item"><span class="footer__column-text">Beneficiary account №:</span>
              1285330001041909
            </li>
            <li class="footer__column-item"><span class="footer__column-text"> Beneficiary bank: </span>CJSC Kyrgyz
              Investment and Credit
            </li>
            <li class="footer__column-item"><span class="footer__column-text"> Beneficiary bank: </span>CJSC Kyrgyz
              Investment and Credit Bank, Bishkek, Kyrgyz Republic
            </li>
            <li class="footer__column-item"><span class="footer__column-text"> SWIFT: </span> KICBKG22
            </li>
          </ul>
          <ul class="footer__column-list">
            <li class="footer__column-item"><span class="footer__column-text">Correspondent bank:</span> Kookmin Bank
              Seoul, Korea
            </li>
            <li class="footer__column-item"><span class="footer__column-text">SWIFT:</span>
              CZNBKRSE
            </li>
            <li class="footer__column-item"><span class="footer__column-text"> Account № of KICB: </span> 7DO-8-USD-01-9
              Intermediary Bank of Kookmin Bank The Bank of New York Mellon, New York, USA
            </li>
            <li class="footer__column-item"><span class="footer__column-text"> SWIFT: </span> IRVTUS3N
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__column">
        <h3 class="footer__column-title">Контакты</h3>
        <ul class="footer__column-list">
          <li class="footer__column-item">
            <span class="footer__column-text">Телефон:</span>
            <a href="tel:+996000000000"
               class="footer__column-link">+996 000 000000</a>
          </li>
          <li class="footer__column-item">
            <span class="footer__column-text">E-mail:</span>
            <a href="mailTo:info@hl.kg"
               class="footer__column-link"> info@hl.kg</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__column-title">Юридический адрес</h3>
        <ul class="footer__column-list">
          <li class="footer__column-item">
            115 ул. Ибраимова, Бишкек, Киргизия
          </li>
          <li class="footer__column-item">
            <div style="position:relative;overflow:hidden;"><a
              href="https://yandex.by/maps/10309/bishkek/?utm_medium=mapframe&utm_source=maps"
              style="color:#eee;font-size:12px;position:absolute;top:0px;">Бишкек</a><a
              href="https://yandex.by/maps/10309/bishkek/house/Y00YcAZoSUABQFpofXR2dX5gZg==/?ll=74.618056%2C42.874232&utm_medium=mapframe&utm_source=maps&z=17.06"
              style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Ибраимова, 115 — Яндекс Карты</a>
              <iframe
                src="https://yandex.by/map-widget/v1/?ll=74.618056%2C42.874232&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoyMDgyMDIzOTYyEkbQmtGL0YDQs9GL0LfRgdGC0LDQvSwg0JHQuNGI0LrQtdC6LCDQmNCx0YDQsNC40LzQvtCyINC606nRh9Op0YHSrywgMTE1IgoNcTyVQhU2fytC&utm_source=main_stripe_big&z=17.06"
                width="100%" height="180" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
