// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Onest", sans-serif;
  --content-width: 1344px;
  --container-offset: 48px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --gray: #bababa;
  --black: #0e1016;
  --input: #727272;
  --blue: #015c75;
}
@media all and (max-width: 500px) {
  :root{
    --container-offset: 16px;
  }
}
